<br>
<br>
<div id="containerCanvas" class="container">
    <div class="row">
        <div id="canvas" class="col-sm"></div>

        <div class="col-sm">
            <div class="row">

                <div class="col-sm panel">
                    <div class="d-flex justify-content-center my-4">
                        <div class="w-75">
                          <span>Llargada:</span>  
                          <input type="range" class="custom-range" id="largoCubo" [(ngModel)]="largoCubo" min="1" max="10" (ngModelChange)="onChange('Llargada', $event)">
                        </div>
                        <span class="font-weight-bold text-primary ml-2 valueSpan2">{{largoCubo}}</span>
                    </div>
                </div>
        
                <div class="col-sm panel">
                    <div class="d-flex justify-content-center my-4">
                        <div class="w-75">
                          <span>Altura:</span>  
                          <input type="range" class="custom-range" id="alturaCubo" [(ngModel)]="alturaCubo" min="1" max="10" (ngModelChange)="onChange('Altura', $event)">
                        </div>
                        <span class="font-weight-bold text-primary ml-2 valueSpan2">{{alturaCubo}}</span>
                    </div>
                </div>

                <div class="col-sm panel">
                    <div class="d-flex justify-content-center my-4">
                        <div class="w-75">
                          <span>Amplada:</span>  
                          <input type="range" class="custom-range" id="ampladaCubo" [(ngModel)]="ampladaCubo" min="1" max="10" (ngModelChange)="onChange('Amplada', $event)">
                        </div>
                        <span class="font-weight-bold text-primary ml-2 valueSpan2">{{ampladaCubo}}</span>
                    </div>
                </div>

                <div class="col-sm panel">
                    <div class="d-flex justify-content-center my-4">
                        <div class="w-75">
                          <span>Color:</span>  
                          <input type="color" class="custom-range" id="colorCubo" [(ngModel)]="colorCubo" (ngModelChange)="onChange('Color', $event)">
                        </div>
                    </div>
                </div>

                <div class="col-sm panel">
                    <div class="d-flex justify-content-center my-4">
                        <div class="w-75">
                          <span>Animació:</span>  
                          <select  class="custom-range" id="animacion" [(ngModel)]="animacion" (ngModelChange)="onChange('Animacio', $event)">
                              <option value="true">True</option>
                              <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>
