<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/abstract-back.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/logo-hackeps-reduced.png" alt="">
                    </div>
                    <h1 class="presentation-title">Collaborative Configurator</h1>
                </div>

                <h2 class="presentation-subtitle text-center">Fantasy-Code</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by Fantasy-Code</h6>
    </div>
    <div class="main">
        <app-scena-object></app-scena-object>
    </div>
</div>
