<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://twitter.com/Blodornz">@Blodornz</a></li>
                    <li><a href="https://twitter.com/Moltrac">@Moltrac</a></li>
                    <li><a href="https://twitter.com/MarcSauri">@MarcSauri</a></li>
                    <li><a href="https://twitter.com/ElessarInglorio">@ElessarInglorio</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Fantasy-Code
                </span>
            </div>
        </div>
    </div>
</footer>
